html, body {
  height: 100%;
  background: linear-gradient(to bottom, #d9d4c2 0%,#d9d4c2 25%,#cc8810 75%,#cc8810) no-repeat center center fixed;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.top-line {
  border-top: 6px solid #333;
}
.top-line-buffer {
  height: 63px;
}
.container {
  width: 700px;
  margin: -6px auto -86px;
  min-height: 100%;
}

.logo {
  padding: 0;
  font-size: 29px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  text-transform: uppercase;
 }

.descriptor {
  margin-bottom: 58px;
  font-size: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  text-transform: uppercase;
}
.todolist-header {
  position: relative;
  margin-top: 40px;
  height: 52px;
  background: url("../img/header-background.jpg") repeat-x;
  border-left: 1px solid #315589;
  border-right: 1px solid #315589;
  border-bottom: 1px solid #315589;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}

.vertical-alignment {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30%;
  margin: auto 0;
}
.todolist-header h1 {
  font-size: 18px;
  color: #fff;
  left: 53px;
  text-shadow:0px 1px 0px #28405D;
}

.editing-list {
  right: 20px;
}

.line {
  display: inline-block;
  border-right: 1px solid #5284BF;
  height: 16px;
  margin: 0 5px;
}

.add-task {
  background: #ccc;
  background: linear-gradient(-90deg, #E1E1E1 0%, #ccc 100%);
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 8px 0 11px 13px;

}

.add-task input[type="text"] {
  width: 517px;
  height: 30px;
  padding: 0 0 0 13px;
  font-size: 14px;
  color: #bbb;
  background-color: #fff;
  box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.75);
  border: 0;
  outline: none;

}

.add-task input[type="submit"] {
  margin: 0;
  width: 108px;
  height: 30px;
  cursor: pointer;
  font-size:14px;
  color: #fff;
  text-align:center;
  text-shadow: 0px 1px 0px #000;
  background: #4D8464;
  background: linear-gradient(#96CDB0 0%,#4D8464 97%);
  border: 1px solid #447557 ;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  outline: none;

}

.add-todo-list {
  margin: 0 auto;
  display: block;
  width: 209px;
  background: url("../img/header-background.jpg") repeat-x;
  border: 1px solid #315589;
  border-top: 0;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
  color: #fff;
  font-size:18px;
  font-weight:900;
  text-decoration: none;
  text-shadow:0px 1px 0px #28405D;
}

.page-buffer {
  height: 86px;
}
.copyright {
  display: block;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-bottom: 6px solid #333;
  height: 43px;
  padding-top: 43px;
}

.sprite {
  background:url("../img/sprite.png") top left no-repeat;
  display: inline-block;
}

._r1_c1 {
  width: 24px;
  height: 24px;
  background-position: -10px -78px;
  left: 17px;
}

._r1_c2 {
  width: 24px;
  height: 24px;
  background-position: -10px -44px;
  vertical-align: middle;
  margin: 12px 14px 12px 10px;
}

._r1_c3 {
  width:24px;
  height:24px;
  background-position:-10px -10px;
  vertical-align: middle;
  margin-right: 9px;
}

._r1_c4 {
  width:16px;
  height:16px;
  background-position:-10px -112px;
}

._r1_c5 {
  width:16px;
  height:16px;
  background-position:-10px -138px;
}

._r1_c6 {
  width:12px;
  height:13px;
  background-position:-10px -187px;
}

._r1_c7 {
  width:12px;
  height:13px;
  background-position:-10px -210px;
}

._r1_c8 {
  width:12px;
  height:13px;
  background-position:-10px -164px;
}
