// Welcome

// New
.sign {
  width: 535px;
  margin: 0 auto;
}
// Edit

// show

.logo {
  padding: 0;
  font-size: 29px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}

.descriptor {
  font-size: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
  margin-top: -12px;
}

.todolist-header {
  margin-top: 40px;
  background: linear-gradient(to bottom, #5681b6 0%,#335791 100%); 
  border: 1px solid #315589;
  border-radius: 2px 2px 0 0;
}
.note-image {
  margin: 13px 10px;
}


.list-header {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #fff;
  text-shadow:0 1px 0 #28405D;
  width: 535px;
  margin: 13px 0;
}
.inner-list-header {
  width: 535px;
  border: none;
  border-bottom: 1px solid #28405D;
  outline: none;
  font-size: 18px;
  background: none;
  line-height: 1;
}
.new_task_list {
  display: inline-block;
}


.editing-list {
  display: none;
  vertical-align: middle;
}

.editing-list a {
  padding: 15px 10px;
}
.line {
  vertical-align: middle;
  display: inline-block;
  border-right: 1px solid #5284BF;
  height: 16px;
  margin: 0;
}

ul.task-list {
  border-radius: 0 0 15px 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  list-style-type: none;
}

li.task {
  background: #fff;
  border-bottom: 1px solid #E7EBEA;
  color: #999;
  font: bold 13px Arial, sans-serif;
  position: relative;
}

.task:hover {
  background: #FCFED5;
}

li.task p {
  margin-bottom: 0;
}

.hover {
  background: #FCFED5;
}

.task p {
  display: inline-block;
  padding: 16px 23px 17px;
  background: image_url('left-border-task.png') top left repeat-y;
  border-right: 1px solid #E7EBEA;
  width: 542px;
  text-align: justify;
  margin-left: 39px;
}

.inner-task {
  width: 500px;
  height: 20px;
  outline: none;
  border: 1px solid #E7EBEA;
  resize: none;
}

input[type="checkbox"] {
  display:none;
}

input[type="checkbox"] + label::before {
  position: absolute;
  top: 50%;
  width:14px;
  height:15px;
  margin: -9px 13px 0 13px;
  background: image_url('checkbox.png') 0 -16px no-repeat;
  content:"";
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  background: image_url('checkbox.png') no-repeat;
}
ul.task-list {
  padding-left: 0;
}
.task-list > .task:last-child {
  border-bottom: none;
  border-radius: 0 0 15px 15px;
}

.add-task {
  background: #ccc;
  background: linear-gradient(-90deg, #E1E1E1 0%, #ccc 100%);
  border-left: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 8px 0 11px 10px;
}
.plus-green {
  margin-right: 10px;
}

.add-task input[type="text"] {
  width: 535px;
  height: 30px;
  padding: 0 0 0 13px;
  font-size: 14px;
  color: #bbb;
  background-color: #fff;
  box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.75);
  border: 0;
  outline: none;
}

.add-task input[type="submit"] {
  margin: 0;
  width: 108px;
  height: 30px;
  cursor: pointer;
  font-size:14px;
  color: #fff;
  text-align:center;
  text-shadow: 0 1px 0 #000;
  background: #4D8464;
  background: linear-gradient(#96CDB0 0%,#4D8464 97%);
  border: 1px solid #447557;
  border-radius: 0 5px 5px 0;
  outline: none;
}
.edit-task-group {
  display: none;
  position: absolute;
  top: 50%;
  right: 12px;
  margin-top: -24px;
}
.up-down {
  display: inline-block;
  vertical-align: middle;
}
.up-img-task {
  border-bottom: 1px solid #999;
  padding: 0 2px 6px;
}
.down-img-task {
  padding: 0 2px;
}
.up-task {
  display: block;
  padding: 9px 10px 0;

}
.down-task {
  display: block;
  padding: 0 10px 8px;
}
.edit-task {
  display: inline-block;
  vertical-align: middle;
  padding: 15px 10px;
}
.delete-task {
  padding: 15px 10px;
}

a.big-button {
  padding: 10px;
  display: table;
  margin: 40px auto 0;
  background: linear-gradient(to bottom, #5681b6 0%,#335791 100%);
  border: 1px solid #315589;
  border-radius: 2px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
  text-shadow: 0 1px 0 #28405D;
}
a.big-button img {
  margin-right: 10px;
}


.modal-footer {
  border-top: 0;
  padding: 0;
}

.purr {
  position: fixed;
  top: 50px;
  right: 100px;
  @extend .alert;
  @extend .alert-danger;
}




